@model ZNS.EliteTracker.Models.Views.SolarSystemCommentsView
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="page-header">
    <h1>@Model.SolarSystem.Name</h1>
</div>
<ul class="nav nav-tabs">
    <li><a href="@Url.Action("View", new { id = Model.SolarSystem.Id })">Overview</a></li>
    <li class="active"><a href="@Url.Action("Comments", new { id = Model.SolarSystem.Id })">Comments</a></li>
    <li><a href="@Url.Action("Tasks", new { id = Model.SolarSystem.Id })">Tasks</a></li>
</ul>
@Html.Partial("Partials/_Comments", Model.Comments)