@model ZNS.EliteTracker.Models.Views.SolarSystemDistanceView
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="page-header">
    <h1>@Model.SolarSystem.Name</h1>
</div>
<ul class="nav nav-tabs">
    <li><a href="@Url.Action("View", new { id = Model.SolarSystem.Id })">Overview</a></li>
    <li class="active"><a href="@Url.Action("Distance", new { id = Model.SolarSystem.Id })">Nearby</a></li>
    <li><a href="@Url.Action("Comments", new { id = Model.SolarSystem.Id })">Comments</a></li>
    <li><a href="@Url.Action("Tasks", new { id = Model.SolarSystem.Id })">Tasks</a></li>
    <li><a href="@Url.Action("Market", new { id = Model.SolarSystem.Id })">Market</a></li>
    <li><a href="@Url.Action("TradeRoutes", new { id = Model.SolarSystem.Id })">Trade routes</a></li>
</ul>
@if (Model.SolarSystem.HasCoordinates)
{

    using (Html.BeginForm("Distance", "SolarSystem", FormMethod.Get, new { @class = "form-inline search" }))
    {
        <div class="form-group">
            @Html.EnumDropDown("supply", typeof(ZNS.EliteTracker.Models.Documents.CommodityType), new { @class = "form-control" }, "Unspecific supply", Model.Query.Supply)
        </div>
        <div class="form-group">
            @Html.EnumDropDown("demand", typeof(ZNS.EliteTracker.Models.Documents.CommodityType), new { @class = "form-control" }, "Unspecific demand", Model.Query.Demand)
        </div>
        <button type="submit" class="btn btn-primary">Filter</button>
    }

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Distance</th>
            <th>Attitude</th>
            <th>Economies</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var system in Model.Systems)
        {
            <tr>
                <td><a href="@Url.Action("View", new { id = system.Id})">@system.Name</a></td>
                <td>@Math.Round(system.Distance, 1)ly</td>
                <td>@Html.AttitudeLabel(system.Attitude)</td>
                <td>@String.Join(",", system.Economies.Select(x => x.ToString()).ToArray())</td>
            </tr>
        }
    </tbody>
</table>
}

else
{
    <span>Unable to comply. Please <a href="@Url.Action("Edit", new { id = Model.SolarSystem.Id})">enter coordinates</a>..</span>
}