@using ZNS.EliteTracker.Models.Extensions
@model ZNS.EliteTracker.Models.Documents.SolarSystem
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var factions = (List<ZNS.EliteTracker.Models.Documents.Faction>)ViewBag.SourceFactions;
    var factionSelectList = factions.Select(x => new SelectListItem { Text = x.Name, Value = x.Id.ToString() }).ToList();
    factionSelectList.Add(new SelectListItem
    {
        Text = "Undefined",
        Value = "0"
    });
    var groups = (List<ZNS.EliteTracker.Models.Documents.SolarSystemGroup>)ViewBag.SourceGroups;
    var groupsSelectList = groups.Select(x => new SelectListItem { Text = x.Name, Value = x.Id.ToString() });
}

<div id="SolarSystemEdit" ng-controller="solarSystemEdit" ng-init="init(@Model.Id)">
    @if (!String.IsNullOrEmpty(Request.QueryString["status"]))
    {
        <div class="alert alert-warning">@Request.QueryString["status"]</div>
    }
    
    @using (Html.BeginForm())
    {
    <div class="panel panel-default">
        <div class="panel-heading clearfix">@Model.Name info @if (Model.Id != 0) {<a href="@Url.Action("View", new { id = Model.Id })" class="btn btn-primary btn-sm" style="float:right;">View</a>}</div>
        <div class="panel-body">
            <p><b>Note:</b> Please do not add systems unless you intend to track influence or have other special reasons.</p>
            <div class="form-group">
                <label for="Name">Name</label>
                <div class="input-group">
                    @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-success" ng-click="eddb()">Get data from eddb</button>
                    </span>
                </div>
            </div>
            <div class="form-group">
                <label for="Groups">Groups</label>
                @Html.ListBoxFor(x=> x.Groups, groupsSelectList, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label for="Population">Population</label>
                @Html.TextBoxFor(x => x.Population, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label for="Security">Security</label>
                @Html.EnumDropDownListFor(x => x.Security, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label for="PowerPlayLeader">Power play leader</label>
                @Html.EnumDropDownListFor(x => x.PowerPlayLeader, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label for="PowerPlayLeader">Power play state</label>
                @Html.EnumDropDownListFor(x => x.PowerPlayState, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label for="Population">Coordinate X</label>
                @Html.TextBoxFor(x => x.Coordinates.X, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label for="Population">Coordinate Y</label>
                @Html.TextBoxFor(x => x.Coordinates.Y, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label for="Population">Coordinate Z</label>
                @Html.TextBoxFor(x => x.Coordinates.Z, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label for="SyncFactionStatus">Sync faction status with EDDB</label>
                @Html.CheckBoxFor(x => x.SyncFactionStatus)
            </div>
            <button type="submit" class="btn btn-default btn-primary">Save</button>
        </div>
    </div>
    }
    @if (Model.Id != 0)
    {
    <div class="panel panel-default">
        <div class="panel-heading">@Model.Name stations</div>
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Economy</th>
                    <th>Type</th>
                    <th>Outfitting</th>
                    <th>Faction</th>
                    <th>Distance</th>
                    <th title="Check if this is the main/controlling station in the system">Is Main</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="station in stations">
                    <td><input type="hidden" ng-model="station.Guid" /><input type="text" class="form-control" ng-model="station.Name" /></td>
                    <td width="20%">
                        <tags-input min-tags="1" max-tags="2" add-from-autocomplete-only="true" ng-model="station.EconomyTags" placeholder="Add economy">
                            <auto-complete source="loadEconomies()" min-length="1"></auto-complete>
                        </tags-input>
                    </td>
                    <td>@Html.EnumDropDown("type", typeof(ZNS.EliteTracker.Models.Documents.StationType), new { @class = "form-control", ng_model = "station.Type", string_int = "string-int" })</td>
                    <td>@Html.EnumDropDown("outfitting", typeof(ZNS.EliteTracker.Models.Documents.StationOutfitting), new { @class = "form-control", ng_model = "station.Outfitting", string_int = "string-int"})</td>
                    <td>@Html.DropDownList("faction", factionSelectList, new { @class = "form-control", ng_model = "station.Faction.Id", string_int = "string-int" })</td>
                    <td><input type="text" class="form-control" ng-model="station.Distance" /></td>
                    <td><input type="checkbox" class="form-control" ng-model="station.Main" /></td>
                    <td><a href="javascript://remove" ng-click="removeStation($index)"><span class="fa fa-remove"></span></a></td>
                </tr>
            </tbody>
        </table>
        <div class="buttonrow">
            <button type="button" class="btn btn-primary" ng-click="saveStations()" ng-disabled="isSaving">Save stations</button>
            <button type="button" class="btn btn-default" ng-click="addStation()">Add station</button>
        </div>
    </div>
    }
    <div class="alert fixed" ng-class="{'alert-success':msgStatus==1,'alert-danger':msgStatus==2,'alert-warning':msgStatus=3}" ng-show="showMsg">{{msg}}</div>
</div>