@model ZNS.EliteTracker.Models.Views.SolarSystemIndexView
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="SolarSystemIndex">
    <div class="page-header">
        <h1>Solar systems</h1>
        <a href="@Url.Action("edit")"><span class="fa fa-plus-square-o"></span></a>
    </div>
    <ul class="nav nav-tabs">
        <li class="active"><a href="@Url.Action("Index")">Tracked systems</a></li>
        @if (User.IsInRole("administrator"))
        {
        <li><a href="@Url.Action("Groups")">Groups</a></li>
        }
        @if (User.IsAnyRole("administrator,user"))
        {
        <li><a href="@Url.Action("Index", "DB")">EDDB systems</a></li>
        }
    </ul>
    @using (Html.BeginForm("Index", "SolarSystem", FormMethod.Get, new { @class = "form-inline search" }))
    {
        @Html.Hidden("factionId", Model.Query.FactionId)
        <div class="form-group">
            @Html.TextBox("query", Model.Query.Query ?? "", new { @class = "form-control", placeholder = "Search" })
        </div>
        <div class="form-group">
            @Html.EnumDropDown("economy", typeof(ZNS.EliteTracker.Models.Documents.StationEconomy), new { @class = "form-control" }, "All economies", Model.Query.Economy)
        </div>        
        <div class="form-group">
            @Html.DropDownList("status", Model.Statuses, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.EnumDropDown("supply", typeof(ZNS.EliteTracker.Models.Documents.CommodityType), new { @class = "form-control" }, "Unspecific supply", Model.Query.Supply)
        </div>
        <div class="form-group">
            @Html.EnumDropDown("demand", typeof(ZNS.EliteTracker.Models.Documents.CommodityType), new { @class = "form-control" }, "Unspecific demand", Model.Query.Demand)
        </div>
        <div class="form-group">
            @Html.EnumDropDown("powerplayleader", typeof(ZNS.EliteTracker.Models.Documents.PowerPlayLeader), new { @class = "form-control" }, "Unspecified power", Model.Query.PowerPlayLeader)
        </div>
        <div class="form-group">
            @Html.EnumDropDown("powerplaystate", typeof(ZNS.EliteTracker.Models.Documents.PowerPlayState), new { @class = "form-control" }, "Unspecific state", Model.Query.PowerPlayState)
        </div>
        <div class="form-group">
            @Html.EnumDropDown("outfitting", typeof(ZNS.EliteTracker.Models.Documents.StationOutfitting), new { @class = "form-control" }, "All outfitters", Model.Query.Outfitting)
        </div>
        <div class="form-group">
            @Html.DropDownList("group", Model.Groups, new { @class = "form-control" })
        </div>
        <div class="form-group">
            <faction-typeahead value="@Model.Query.FactionName"></faction-typeahead>
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
    }
    <div class="items">
        @foreach (var system in Model.SolarSystems)
        {
            @Html.Partial("Partials/_SolarSystemItem", system)
        }
    </div>
    <div class="clearfix">
        @Html.Partial("Partials/_Pager", Model.Pager)
    </div>
</div>

