@model ZNS.EliteTracker.Models.Views.SolarSystemIndexView
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="SolarSystemIndex">
    <div class="page-header">
        <h1>Solar systems</h1>
        <a href="@Url.Action("edit")"><span class="fa fa-plus-square-o"></span></a>
    </div>
    @using (Html.BeginForm("Index", "SolarSystem", FormMethod.Get, new { @class = "form-inline search" }))
    {
        <div class="form-group">
            @Html.TextBox("query", Model.Query.Query ?? "", new { @class = "form-control", placeholder = "Search" })
        </div>
        <div class="form-group">
            @Html.EnumDropDown("economy", typeof(ZNS.EliteTracker.Models.Documents.StationEconomy), new { @class = "form-control" }, "All economies", Model.Query.Economy)
        </div>        
        <div class="form-group">
            @Html.DropDownList("status", Model.Statuses, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.EnumDropDown("supply", typeof(ZNS.EliteTracker.Models.Documents.CommodityType), new { @class = "form-control" }, "Unspecific supply", Model.Query.Supply)
        </div>
        <div class="form-group">
            @Html.EnumDropDown("demand", typeof(ZNS.EliteTracker.Models.Documents.CommodityType), new { @class = "form-control" }, "Unspecific demand", Model.Query.Demand)
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
    }
    <div class="items">
        @foreach (var system in Model.SolarSystems)
        {
            @Html.Partial("Partials/_SolarSystemItem", system)
        }
    </div>
    <div class="clearfix">
        @Html.Partial("Partials/_Pager", Model.Pager)
    </div>
</div>

