@model ZNS.EliteTracker.Models.Views.CommentView
<div ng-controller="comment" ng-init="documentId='@Model.DocumentId'">
    <div class="form-group">
        <label for="body">Awaiting input...</label>
        <textarea id="commentBody" name="body" class="form-control" rows="4" wysibb></textarea>
    </div>
    <button class="btn btn-primary" ng-click="postComment()">Execute</button>
    <hr />
    <div id="comments">
        @foreach (var comment in Model.Comments)
        {
            <div class="comment media">
                <div class="media-left">
                    <img src="/commander/image/@(comment.Commander.Id)" alt="" width="50" />
                </div>
                <div class="media-body">
                    <span><b><a href="@Url.Action("View", "Commander", new { id = comment.Commander.Id })">@comment.Commander.Name</a></b> <i time-ago>@comment.Date</i></span>
                    <p>@Html.RenderBBCode(comment.Body)</p>
                </div>
            </div>
        }
    </div>
</div>
<div class="clearfix">
    @Html.Partial("Partials/_Pager", Model.Pager)
</div>
