@model ZNS.EliteTracker.Models.Views.HomeView
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="page-header">
    <h1>Welcome CMDR @ViewBag.CommanderName</h1>
    <button type="button" class="btn btn-primary" ng-click="goTo('@Url.Action("Edit", "Commander")')">Edit profile</button>
</div>
<div class="panel panel-default">
    <div class="panel-heading"><span class="fa fa-tasks"></span> <b>Assigned tasks</b></div>
    <div class="panel-body">
        <div class="items">
            @foreach (var task in Model.MyTasks)
            {
                @Html.Partial("Partials/_TaskItem", task)
            }
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading"><span class="fa fa-sun-o"></span> <b>Solar systems</b></div>
    <div class="panel-body">
        <div class="items">
            @foreach (var system in Model.SolarSystems)
            {
                @Html.Partial("Partials/_SolarSystemItem", system)
            }
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading"><span class="fa fa-comments"></span> <b>Latest comments</b></div>
    <div class="panel-body">
        <div class="items">
            @foreach (var comment in Model.Comments)
            {
                var action = "";
                var controller = "";
                if (comment.Entity.IdPrefix.Equals("solarsystems", StringComparison.CurrentCultureIgnoreCase))
                {
                    action = "View";
                    controller = "SolarSystem";
                }
                else if (comment.Entity.IdPrefix.Equals("tasks", StringComparison.CurrentCultureIgnoreCase))
                {
                    action = "View";
                    controller = "Task";
                }
                else if (comment.Entity.IdPrefix.Equals("resources", StringComparison.CurrentCultureIgnoreCase))
                {
                    action = "View";
                    controller = "Resource";
                }
                <div class="comment">
                    <div><b>@comment.Commander.Name</b> commented on <a href="@Url.Action(action, controller, new { id = comment.Entity.Id })">@comment.Entity.Name</a>, <span time-ago>@comment.Date</span></div>
                    @if (!String.IsNullOrEmpty(comment.Body))
                    {
                        <p>@Html.RenderBBCode(comment.Body.Substring(0, comment.Body.Length > 150 ? 150 : comment.Body.Length))</p>
                    }
                </div>
            }
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading"><span class="fa fa-tasks"></span> <b>New tasks</b></div>
    <div class="panel-body">
        <div class="items">
            @foreach (var task in Model.NewTasks)
            {
                @Html.Partial("Partials/_TaskItem", task)
            }
        </div>
    </div>
</div>