@model ZNS.EliteTracker.Models.Documents.Commander
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="CommanderEdit" ng-controller="commanderEdit" ng-init="init(@Model.Id)">
    <div class="page-header">
        <h1>CMDR @Model.Name</h1>
    </div>
    <ul class="nav nav-tabs">
        <li><a href="@Url.Action("View", new { id = Model.Id })">View</a></li>
        <li class="active"><a href="@Url.Action("Edit")">Edit</a></li>
    </ul>
    @using (Html.BeginForm("Edit", "Commander", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="panel panel-default">
            <div class="panel-heading">Info</div>
            <div class="panel-body">
                <div class="form-group">
                    <label for="PlayerName">Player name</label>
                    @Html.TextBoxFor(x => x.PlayerName, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <label for="Country.Code">Country</label>
                    @Html.DropDownListFor(x => x.Country.Code, (List<SelectListItem>)ViewBag.Countries, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <label for="file">Image - 360x480 or other 4/3 format is best. Only jpg and png.</label>
                    <input type="file" name="file" />
                </div>
                <div class="form-group">
                    <label for="pwd">Change Password - leave blank to not change password</label>
                    <input type="text" id="pwd" name="pwd" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="Story">Log</label>
                    @Html.TextAreaFor(x => x.Story, new { @class = "form-control", rows = 10, wysibb = "wysibb" })
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </div>
    }
    <div class="panel panel-default">
        <div class="panel-heading">Ships</div>
        <table class="table">
            <thead>
                <tr>
                    <th>Model</th>
                    <th>Name</th>
                    <th>Fitting</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="ship in ships">
                    <td>@Html.EnumDropDown("model", typeof(ZNS.EliteTracker.Models.Documents.ShipModel), new { @class = "form-control", ng_model = "ship.Model" })</td>
                    <td><input type="text" name="name" class="form-control" ng-model="ship.Name" /></td>
                    <td>@Html.EnumDropDown("model", typeof(ZNS.EliteTracker.Models.Documents.ShipFittings), new { @class = "form-control", ng_model = "ship.Fittings" })</td>
                    <td><a href="javascript://remove" ng-click="removeShip($index)"><span class="fa fa-remove"></span></a></td>
                </tr>
            </tbody>
        </table>
        <div class="buttonrow">
            <button type="button" class="btn btn-primary" ng-click="saveShips()" ng-disabled="isSaving">Save ships</button>
            <button type="button" class="btn btn-default" ng-click="addShip()">Add ship</button>
        </div>
    </div>
    <div class="alert fixed" ng-class="{'alert-success':msgStatus=1,'alert-error':msgStatus=2}" ng-show="showMsg">{{msg}}</div>
</div>